@page "/"

<PageTitle>HabitTracker</PageTitle>

<h1>HabitTracker</h1>

<div class="calendar-div-main">

    <DaySelector></DaySelector>
    <DaySelector></DaySelector>
    <DaySelector></DaySelector>
    <DaySelector></DaySelector>
</div>

<div class="buttons-carousel">

    <img src="/images/settings-outline.svg" class="@state" @onclick="Active"/>
    <ListType listTitle="TODO"></ListType>
    <ListType listTitle="Complited"></ListType>
    <ListType listTitle="Custom_1"></ListType>
    <ListType listTitle="Custom_2"></ListType>
</div>

<div class="content">
    <Habit settings="@habitSettings"></Habit>
    <Habit settings="@habitSettings"></Habit>
    <Habit settings="@habitSettings"></Habit>
</div>

@code {
    public string state = "off";
    public bool habitSettings = false;

    public void Active()
    {
        if(state == "off")
        {
            state = "on";
            habitSettings = true;
        }
        else
        {
            state = "off";
            habitSettings = false;
        }
    }
}