@page "/"

<PageTitle>HabitTracker</PageTitle>

<h1>HabitTracker</h1>

<div class="calendar-div-main">

    <DaySelector></DaySelector>
    <DaySelector></DaySelector>
    <DaySelector></DaySelector>
    <DaySelector></DaySelector>
</div>

<div class="buttons-carousel">

    <ListType listTitle="TODO"></ListType>
    <ListType listTitle="Complited"></ListType>
    <ListType listTitle="Custom_1"></ListType>
    <ListType listTitle="Custom_2"></ListType>
</div>

<div class="content">

</div>