body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    top: 20px;
    position: fixed;
}

div{
    height: 400px;
    width: 90vw;
    background-color: #ffffff;
    box-shadow: 1px 1px 50px #cdcdcd;
    border-radius: 20px;
}