@page "/"

<PageTitle>HabitTracker</PageTitle>

<h1>HabitTracker</h1>

<div class="calendar-div-main">

    <DaySelector></DaySelector>
    <DaySelector></DaySelector>
</div>

<div class="content">

</div>