@page "/"

<PageTitle>HabitTracker</PageTitle>

<h1>HabitTracker</h1>

<RegisterForm></RegisterForm>
<LoginForm></LoginForm>

<div class="calendar-div-main">

    <DaySelector currentWeek="true"></DaySelector>
    <DaySelector currentWeek="false"></DaySelector>
    <DaySelector currentWeek="false"></DaySelector>
    <DaySelector currentWeek="false"></DaySelector>
</div>

<div class="buttons-carousel">

    <img src="/images/settings-outline.svg" class="@state" @onclick="Active"/>
    <ListType listTitle="TODO"></ListType>
</div>

<div class="content">
    <HabitListDisplay settings="@habitSettings"></HabitListDisplay>
    
</div>

@code {
    public string state = "off";
    public bool habitSettings = false;

    public void Active()
    {
        if(state == "off")
        {
            state = "on";
            habitSettings = true;
        }
        else
        {
            state = "off";
            habitSettings = false;
        }
    }
}