<div>
    <ul>
        <li>
            <p>MON</p>
            <div>
                <p>1</p>
            </div>
        </li>
        <li>
            <p>TUE</p>
            <div>
                <p>1</p>
            </div>
        </li>
        <li>
            <p>WED</p>
            <div>
                <p>1</p>
            </div>
        </li>
        <li>
            <p>THU</p>
            <div>
                <p>1</p>
            </div>
        </li>
        <li>
            <p>FRI</p>
            <div>
                <p>1</p>
            </div>
        </li>
        <li>
            <p>SAT</p>
            <div>
                <p>1</p>
            </div>
        </li>
        <li>
            <p>SUN</p>
            <div>
                <p>1</p>
            </div>
        </li>
    </ul>
</div>

@code {

}
