<div class="calendar-div">
    <ul>
        <li>
            <p>MON</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator"></div>
        </li>
        <li>
            <p>TUE</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator"></div>
        </li>
        <li>
            <p>WED</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator"></div>
        </li>
        <li>
            <p>THU</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator"></div>
        </li>
        <li>
            <p>FRI</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator"></div>
        </li>
        <li>
            <p>SAT</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator"></div>
        </li>
        <li @onclick="ClickEvent">
            <p>SUN</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator today"></div>
        </li>
    </ul>
</div>

@code {

    private void ClickEvent()
    {
        Console.WriteLine("My debug output.");
    }
}
