@inject IHabitListService habitListService;
<h3>@habitList.Name</h3>

@if (habitList.Habits.Count == 0)
{
    <p>nic nie ma</p>
}
else
{
    foreach (Habit i in habitList.Habits)
    {
        <HabitDisplay settings="@settings" habit="i"></HabitDisplay>
    }
}

@code {
    [Parameter]
    public bool settings { get; set; }

    public HabitList habitList { get; set; }

    protected override async void OnInitialized()
    {
        //habitList = await habitListService.GetHabitListById();
        //if()
        {
            
            habitList = new HabitList();
            habitList.Name = "TODO";
            habitList.Habits = new List<Habit>();
        }

        base.OnInitialized();
    }
}
