<div class="habit-content @(settings ? "editable" : "")">
    <div class="habit-content-main">

        <div class="img-and-description">

            <img src="@imageSrc" class="habit-prof-img"/>
            <h2>@habit.Name</h2>
        </div>

        @if (settings)
        {
            <img src="/images/menu-outline.svg" class="toggle" @onclick="EditHabit"/>
        }
    </div>
    <div class="habit-content-settings @editMenu">
        
    </div>
</div>

@code {
    public string imageSrc { get; set; }
    [Parameter]
    public bool settings { get; set; }

    [Parameter]
    public Habit habit { get; set; }

    public string editMenu = "nonedit";

    protected override async Task OnInitializedAsync()
    {
        imageSrc = "/images/person-outline.svg";
    }

    public void EditHabit()
    {
        if(editMenu == "nonedit")
        {
            editMenu = "edit";
        }
        else
        {
            editMenu = "nonedit";
        }
    }

}
