<div class="navigation">
    <NavLink href=""><img src="images/chart.svg" alt="chart" class="nav-chart"/></NavLink>
    <NavLink href=""><img src="images/calendar.svg" alt="calendar" class="nav-calendar" /></NavLink>
    <button><img src="images/plus.svg" alt="add" class="nav-plus active" /></button>
    <NavLink href=""><img src="images/list.svg" alt="list" class="nav-list"/></NavLink>
    <NavLink href=""><img src="images/circle.svg" alt="account" class="nav-account"/></NavLink>

    <div class="choise">

    </div>
</div>

@code {

}
