<div class="navigation">
    <NavLink href=""><img src="images/chart.svg" alt="chart"/></NavLink>
    <NavLink href=""><img src="images/calendar.svg" alt="calendar" /></NavLink>
    <button><img src="images/plus.svg" alt="add" /></button>
    <NavLink href=""><img src="images/list.svg" alt="list" /></NavLink>
    <NavLink href=""><img src="images/circle.svg" alt="account" /></NavLink>

    <div class="choise">

    </div>
</div>

@code {

}
