@using HabitTracker.Shared.DataTransferObjects;
@inject IUserService userServise;
@inject IHabitListService habitListService;

<div>

    <h3>Register</h3>

    <form onsubmit="@Submit">
        <input type="text" @bind-value="UserName" />
        <input type="email" @bind-value="Email" />
        <input type="password" @bind-value="Password" />
        <input type="password" @bind-value="PasswordRepeat" />
        <p class="error @appearance">Password does not match</p>
        <button type="submit">Register</button>
    </form>

</div>

@code {
    public string UserName;
    public string Password;
    public string PasswordRepeat;
    public string Email;
    public string appearance;


    private async void Submit()
    {

        if ((Password == PasswordRepeat) || (!String.IsNullOrEmpty(Password)))
        {
            appearance = "hide";
            UserForRegistrationDto userRegister = new UserForRegistrationDto()
                {
                    UserName = this.UserName,
                    Email = this.Email,
                    Password = this.Password
                };

            userServise.RegisterUser(userRegister);

            UserDto user = await userServise.GetUserFromUsername(userRegister.UserName);

            Console.WriteLine(user.Id);

        }
        else
        {
            appearance = "show";
        }

    }
}
