@using HabitTracker.Shared.DataTransferObjects;

<div>

    <h3>Register</h3>
@*
    <EditForm Model="@UserRegistration" OnSubmit="@Submit">
        <InputText @bind-value="UserRegistration!.UserName" />
        <InputText @bind-value="UserRegistration!.Password" />
    </EditForm>*@

</div>

@code {
    public UserForRegistrationDto? UserRegistration { get; set; }

    protected override void OnInitialized() => UserRegistration ??= new();

    private void Submit()
    {
        
    }
}
